.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1024px;
    margin: auto;
}

.main__title {
    margin: 0 0 50px 0;
}

.main__add-task {
    width: 200px;
    padding: 0;
    text-align: center;
    border: none;
    background: #3456f3;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 45px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
    margin: 0 auto 16px;
}

.main__add-task:hover {
    opacity: 0.6;
}

.main__filter-label {
    margin: 0;
    text-align: left;
}

.main__filter-input {
    width: 200px;
}

.main__filter-container {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: start; */
    justify-content: space-between;
    gap: 7px;
    margin-bottom: 50px;
}

.main__filter-period {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.main__filter-executor {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.main__filter-input {
    width: 100%;
}
.task {
    max-width: 900px;
    margin: 0 auto 50px;
    border-collapse: collapse;
}

.task__cell {
    text-align: left;
    border-bottom: 2px solid #CCCCCC;
    height: 25px;
}

.task__cell-title {
    text-align: left;
    border-bottom: 2px solid #CCCCCC;
    height: 25px;
    cursor: pointer;
    transition: .5s;
   
}

.task__cell-title:hover {
    opacity: .6;
}

.task__cell-red {
    color: red
}

.task__cell-green {
    color: green;
}

.task__cell:nth-last-of-type(2) {
    min-width: 250px;
}
